In [87]:
%matplotlib inline
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
import numpy as np

## Load and prepare data

In [53]:
train_df = pd.read_csv("data/downsampled/train.csv")
test_df = pd.read_csv("data/downsampled/test.csv")
train_df.head(3)

,year,sin_month,cos_month,sin_week,cos_week,sin_day_of_week,cos_day_of_week,Agdenes,Brygga,Flåkoia,...,Selbukåten,Sonvasskoia,Stabburet,Stakkslettsbua,Stallen,Taagaabu,Telin,Vekvessætra,Øvensenget,target
0,-1.586051,1.224647e-16,-1.000000e+00,-0.120537,-9.927089e-01,0.781831,0.623490,0,0,0,...,0,0,0,0,1,0,0,0,0,2
1,1.328137,1.000000e+00,6.123234e-17,1.000000,6.123234e-17,-0.433884,-0.900969,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,1.146000,-8.660254e-01,-5.000000e-01,-0.970942,-2.393157e-01,0.433884,-0.900969,0,0,0,...,0,0,0,0,0,0,0,0,1,2

Move the target values to seperate dataframes and convert everything to numpy arrays.

In [68]:
n_cols = len(train_df.columns)
x_train = train_df.iloc[:,0:n_cols-1].values
y_train = train_df.iloc[:, n_cols-1:].values
y_train = np.squeeze(y_train)
x_test = test_df.iloc[:,0:n_cols-1].values
y_test = test_df.iloc[:, n_cols-1:].values
y_test = np.squeeze(y_test)

## Random Forest Classifier
Create random forest and run cross validation

In [81]:
random_forest = RandomForestClassifier()
random_forest.fit(x_train, y_train)
cross_val_score(random_forest, x_train, y_train, cv=3).mean()

0.6308180922751391

Evaluate on test set:

In [70]:
random_forest.score(x_test, y_test)

0.626300457761132

## SVC

In [84]:
svc = SVC(kernel="rbf", C=1)
cross_val_score(svc, x_train, y_train).mean()

0.6437186334546657

In [85]:
svc.fit(x_train, y_train);

In [86]:
svc.score(x_test, y_test)

0.6498820918296574

## LogIt

In [96]:
logit = LogisticRegression(multi_class="multinomial", solver="saga", penalty="l2")
cross_val_score(logit, x_train, y_train).mean()

0.6173826433368693

In [97]:
logit.fit(x_train, y_train)
logit.score(x_test, y_test)

0.6185323900679706